@media (min-width: 1200px) {
  .header__item-child ul {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all .6s ease;
    box-shadow: -1px 5px 8px 0px rgba(34, 60, 80, 0.2);
  }

  .header__item-child:hover>ul {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    box-shadow: -1px 5px 8px 0px rgba(34, 60, 80, 0.2);
  }
}

@media (max-width: 1439px) {
  .dss-about .title {
    text-align: left;
  }

  .title {
    font-size: 36px !important;
  }
}

@media (max-width: 1400px) {
  .intro h1 {
    font-size: 64px;
  }

  .footer__col:nth-child(2) {
    margin: 0 155px 0 auto;
  }

  .dss-prints .dss-prints__slider {
    height: 905px;
  }

  .product__left {
    max-width: 600px;
  }

  .title-two {
    font-size: 76px;
  }

  .dss-article__top {
    padding: 0 20px;
    flex-direction: column;
  }

  .dss-article__top-right {
    transform: translateX(0);
    padding: 0 20px 0 0;
    margin: 0 0 0 auto;
    border-right: 2px solid #ffca29;
    border-left: none;
  }

  .dss-article__top-item {
    text-align: right;
  }

  .dss-article__top-item:last-child {
    margin: 0;
  }










}

@media (max-width: 1200px) {
  .product__left {
    max-width: 450px;
    height: 500px;
  }

  .intro__top img {
    width: 100px;
    height: 100px;
  }

  .intro__bg {
    padding: 190px 0 0 0;
    height: 595px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .intro__bg {
    padding: 160px 0 0 0;
  }

  .intro__slider {
    width: 265px;
    height: 270px;
  }

  .intro p {
    font-size: 16px;
  }

  .intro h1 {
    font-size: 48px;
  }

  .title {
    font-size: 32px !important;
  }

  .dss-item__img {
    padding: 20px;
  }

  .dss-colections__item {
    padding: 15px;
  }

  .select-wrap {
    margin: 0;
  }

  .catalog__right-top {
    align-items: center;
  }

  .title-two {
    font-size: 68px;
  }

  .artists__slider .swiper-slide {
    height: 195px;
    padding: 10px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background-color: #000;

    svg path {
      stroke: #fff;
    }
  }

  .swiper-button-disabled {
    background-color: transparent !important;
  }

  .dss-blog .dss-blog__item {
    width: calc(50% - 10px) !important;
  }

  .dss-blog__img {
    height: 400px !important;
  }

  .article-other {
    .dss-blog__img {
      height: 200px !important;
    }
  }

  .article-other {
    padding: 35px 0 185px;
    max-width: 695px;
    width: 100%;
    margin: 0 auto;
  }

  .article-other .dss-blog__item {
    width: calc(100% - 10px);
  }




}

@media (max-width: 992px) {
  .title {
    font-size: 32px !important;
    line-height: 125% !important;
  }

  .dss-about .title {
    font-size: 24px !important;
  }

  .intro__bg {
    height: 440px;
  }

  .intro__bg {
    padding: 115px 0 0 0;
  }

  .intro__slider {
    width: 205px;
    height: 208px;
  }

  .intro__top {
    flex-wrap: wrap;
    justify-content: flex-start;

    &>p {
      margin: 0 0 0 20px;
      width: calc(100% - 120px);
      font-size: 18px;
    }
  }

  .intro h1 {
    margin: 0 0 10px 0;
    width: 100%;
    order: -1;
    font-size: 40px;
  }

  .dss-about__inner {
    flex-direction: column;
  }

  .dss-about .title {
    text-indent: 0;
  }

  .dss-about__box {
    flex-direction: column;
    order: 3;
  }

  .dss-about__text {
    max-width: 100% !important;
    margin: 0 0 20px 0 !important;
  }

  .intro__inner {
    padding: 6px 0 40px 0;
    border-bottom: 1px solid #ffca29;
  }

  .dss-about__left h3 {
    font-size: 14px;
    margin: 0 0 15px 0;
  }

  .dss-about__inner {
    padding: 35px 0 20px;
    border-bottom: 1px solid #ffca29;
  }

  .dss-about__right {
    display: flex;
    flex-direction: column;
  }

  .dss-about img {
    margin: 0 0 30px 0;
  }

  .dss-prints__inner {
    flex-direction: column;
  }

  .dss-prints__left {
    position: static;
  }

  .dss-prints__inner {
    padding: 40px 0 75px;
    border-bottom: 1px solid #ffca29;
  }

  // .dss-prints__slider {
  //   display: block !important;
  // }

  // .dss-prints__right {
  //   display: none;
  // }

  .dss-prints__left {
    max-width: 100%;
    margin: 0;
  }

  .dss-prints .btn {
    width: 100%;
    margin: 40px 0 0 0;
  }

  .dss-arts__inner {
    padding: 45px 0 75px;
    border-bottom: 1px solid #ffca29;
  }

  .dss-colections__inner {
    flex-direction: column;
  }

  .dss-colections__left {
    max-width: 100%;
    margin: 0 0 30px 0;
    position: static;
  }

  .dss-colections__inner {
    padding: 40px 0 65px;
  }

  .dss-colections .title {
    margin: 0 0 15px 0;
  }

  .dss-colections__top {
    margin: 0 0 20px 0
  }

  .dss-colections__item img {
    margin: 0 0 5px;
  }

  .dss-colections__item p {
    font-size: 14px;
  }

  .dss-news__inner {
    padding: 40px 0 90px;
    border-bottom: 1px solid #ffca29;
  }


  .faq__inner {
    flex-direction: column;
  }

  .faq__left {
    margin: 0 0 15px 0;
  }

  .accordeon dt {
    padding: 0 65px 0 0;
  }

  .faq__right {
    max-width: 100%;
  }

  .footer__logo {
    width: 100%;
    margin: 0 0 60px 0;

    img {
      width: 225px;
    }
  }

  .footer__inner {
    flex-wrap: wrap;
  }

  .footer__col {
    width: 50%;
    margin: 0 !important;
  }

  .faq {
    padding: 50px 0 25px;
  }

  .footer {
    padding: 30px 0 20px;
  }

  .dss-prints__left .btn {
    display: none;
  }

  .dss-prints__right .btn {
    display: flex;
  }

  .dss-prints .dss-prints__slider {
    height: fit-content;
  }

  .dss-prints .swiper-slide {
    height: fit-content !important;
    margin-top: 0 !important;
  }

  .dss-prints__right {
    overflow: visible;
  }

  .dss-prints {
    overflow: hidden;
  }


  .catalog__filter {
    padding: 30px 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: #fff;
    max-width: 340px;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);
    opacity: 0;
    transition: linear .2s;
  }

  .catalog__filter.open {
    transform: translateX(0);
    opacity: 1;
  }

  .catalog__filter-top {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;

    p {
      margin: 0 10px 0 0;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  .catalog__delete {
    margin: 0 25px 0 auto;
    color: rgb(140, 140, 140);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px 0;
    border-bottom: 1px solid rgb(140, 140, 140);
  }

  .catalog__inner {
    flex-direction: column;
  }

  .catalog__left {
    max-width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
  }

  .catalog__close {
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
  }

  .catalog__filter-title {
    font-size: 16px;
  }

  .catalog__filter {
    overflow: auto;
  }


  .catalog__filters-btn {
    display: flex;
  }

  .catalog__right-clear {
    display: none;
  }

  .catalog__right-top {
    flex-wrap: wrap;
  }

  .catalog .title {
    width: 100%;
    margin: 0 0 25px 0;
  }

  .catalog__filters-btn {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;

    img {
      margin: 0 10px 0 0;
    }

    span {
      display: flex;
      margin: 0 0 0 5px;
    }
  }

  .catalog {
    padding: 90px 0 10px;
  }

  .catalog .breadcrumbs {
    margin: 0 0 5px 0;
  }

  .catalog__left {
    margin: 0 0 5px 0;
  }

  .product__inner {
    flex-direction: column;
  }

  .product__left {
    display: none;
  }

  .product__right {
    border-left: none;
    padding: 0;
  }

  .artists__inner {
    margin: 0 0 0 -20px;
  }

  .artists__item {
    overflow: hidden;
    width: calc(50% - 20px);
    margin: 0 0 30px 20px;
  }

  .title-two {
    font-size: 32px;
  }

  .artists h1 {
    border-top: 1px solid #ffca29;
  }

  .dss-author__inner {
    border-top: 1px solid #ffca29;
    border-bottom: 1px solid #ffca29;
    padding: 20px 0 65px;
  }

  .dss-author__right-wrap {
    display: none;
  }

  .dss-author__left {
    padding: 0;
    width: 100%;
  }

  .dss-author__left .dss-author__right {
    display: block;
    margin: 0 0 40px 0;
  }

  .artists h1 {
    border-top: 1px solid #ffca29;
    padding: 20px 0 0;
    margin: 0 0 30px 0;
  }

  .dss-author__lg {
    height: auto;
  }

  .dss-author__left {
    position: relative;
  }

  .dss-author__left ul {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;

    li {
      width: 40px;
      height: 40px;
      margin: 0 0 0 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .dss-author .title-two {
    padding: 0 80px 0 0;
    margin: 0 0 10px 0;
  }

  .dss-blog {
    padding: 0 0 45px 0;
  }

  .dss-blog .title-two {
    margin-top: 20px !important;
  }




}

@media (max-width: 768px) {

  .dss-item__name,
  .dss-item__author,
  .dss-arts__name,
  .dss-arts__info {
    font-size: 14px;
  }

  .dss-item__price {
    margin: 15px 0 0 0;
    font-size: 14px;
  }


  .dss-arts .swiper-button-next,
  .dss-arts .swiper-button-prev {
    display: none;
  }

  .dss-arts__slider img {
    margin: 0 0 10px 0;
  }

  .dss-arts__name {
    margin: 0;
  }

  .dss-colections__top {
    flex-wrap: nowrap;
    white-space: nowrap;
    word-break: keep-all;
    overflow: auto;
  }

  .dss-colections__item {
    width: calc(50% - 10px);
    margin: 0 0 10px 10px;
    padding: 15px 15px 10px 15px;
  }

  .dss-colections__top a {
    font-size: 18px;
  }

  .dss-colections__top a {
    padding: 5px 7px;
  }

  .dss-news__item {
    flex-direction: column;
  }

  .dss-news__img {
    max-width: 100%;
    margin: 0 0 20px 0;
  }

  .dss-news__date {
    margin: 0 0 20px 0;
  }

  .dss-news__top {
    margin: 0 0 40px 0;
  }

  .dss-news__item {
    padding: 15px 0 0 0;
  }

  .dss-news__item h3 {
    font-size: 16px;
    margin: 0 0 15px 0;
  }

  .dss-news__text {
    margin: 0 0 25px;
  }

  .dss-colections__swipe {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 20px 15px auto;
    animation: swipe 2s ease-in-out infinite;


    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @keyframes swipe {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(20px);
      /* Зміщення вправо */
    }

    100% {
      transform: translateX(0);
      /* Повернення в початкову позицію */
    }
  }

  .catalog .dss-item {
    width: calc(50% - 10px);
    margin: 0 0 20px 10px;
  }

  .select-wrap select {
    font-size: 14px;
    padding: 5px;

  }

  .catalog__right-box {
    margin: 0 0 5px 0;
  }

  .dss-item__btn {
    width: 20px;
    height: 18px;
  }

  .dss-item__price {
    font-weight: 400;
  }

  .product__top h1 {
    font-size: 24px;
  }

  .product__top p {
    font-size: 24px;
  }

  .product {
    padding: 0 0 35px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid rgb(225, 225, 225);
  }

  .cards-four-col .title {
    margin: 0 0 20px 0;
  }

  .cards-four-col {
    padding: 25px 0 45px 0;
  }

  .artists__item {
    width: calc(100% - 20px);
    margin: 0 0 20px 20px;
  }

  .subpage .breadcrumbs {
    margin: 90px 0 25px;
  }

  .artists .container>p {
    margin: 0 0 10px 0;
  }

  .artists__letters {
    margin: 0 0 35px 0;
  }

  .artists__author {
    height: 260px;
  }

  .artists__item h2 {
    font-size: 18px;
  }

  .dss-author__box {
    flex-wrap: wrap;
    margin: 0;
  }

  .dss-author__col {
    margin: 20px 20px 0 0;
  }

  .dss-blog__img {
    height: 240px !important;
  }

  .dss-article__top-right {
    padding: 0;
    border: none;
    display: flex;
  }

  .dss-article__top-item {
    text-align: left;

    p {
      display: block !important;
    }
  }

  .dss-article__top-right {
    margin: 0;
  }

  .dss-article p {
    display: none;
  }

  .dss-article__top-item {
    margin: 0 40px 0 0;
  }
  .dss-article__top-mid{
    transform: translateX(0);
    .container{
      padding: 0;
    }
  }
  .dss-article__top-mid .title {
    padding: 15px 0 0 0;
    margin: 0 0 15px 0;
    border-top: 1px solid #ffca29;
    font-size: 24px !important;
    width: 100%;
    
  }

  .dss-article__top {
    margin: 0 auto 20px;
  }

  .dss-article h2 {
    margin: 25px 0 20px 0;
  }

  .dss-article__inner {
    p {
      display: block;
    }
  }

  .article-other {
    padding: 35px 0 30px;
  }



}

@media (max-width: 576px) {
  .footer__col {
    width: 100%;
    margin: 60px 0 0 0 !important;
  }

  .footer__logo {
    margin: 0;
  }

  .footer__bottom {
    margin: 100px 0 0 0;
  }

  .product__top-undertop {
    flex-wrap: wrap;
  }

  .product__top-undertop .product__col {
    margin: 10px 40px 0 0;
    max-width: 160px;
  }

  .product__line {
    flex-direction: column;
  }

  .product__box {
    margin: 0 0 0 -5px;
  }

  .product .form__box {
    margin: 0 0 0 5px;
  }

  .product__top-undertop {
    padding: 10px 0 15px;
  }

  .product__bottom {
    flex-wrap: wrap;
  }

  .product .calc {
    width: 100px;
    border: 1px solid rgb(225, 225, 225);
  }

  .product__bottom .btn {
    width: calc(100% - 110px);
    padding: 15px 30px;
  }

  .product__add-favorite {
    font-size: 16px;
    width: 100%;
    border: 1px solid rgb(225, 225, 225);
    margin: 20px 0 0 0;
    padding: 5px 70px;
    text-transform: uppercase;
  }

  .product__add-favorite img {
    left: auto;
    right: 20px;
  }

  .product__bottom {
    margin: 0 0 50px 0;
    padding: 35px 0;
    border-bottom: 1px solid rgb(225, 225, 225);
  }

  .product__title+p {
    font-size: 14px;
  }

  .cards-four-col {
    .container {
      padding: 0 0 0 20px;
    }
  }

  .cards-four-col .title {
    padding: 0 20px 0 0;
  }

  .dss-arts .container {
    padding: 0 0 0 20px;
  }

  .dss-arts .title {
    margin: 0 0 20px 0;
    padding: 0 20px 0 0;
  }

  .dss-blog__top {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }


  .dss-blog .title-two {
    margin: 0 0 25px 0;
  }

  .dss-blog .select-wrap {
    width: 100%;
    margin: 0 0 10px 0;

    select {
      height: 50px;
      padding: 15px 10px;
      width: 100%;
      background-color: #F3F3F3;
      background-position: right 10px center;
    }

  }

  .dss-blog .select-wrap select {
    font-size: 16px;
  }

  .dss-blog__select {
    display: flex !important;
    width: 100%;
    height: 50px;
    padding: 15px 10px;
    width: 100%;
    background-color: #F3F3F3;
    background-image: url(../images/icons/arrow-dark.svg);
    background-repeat: no-repeat;
    background-size: 8px 12px;
    background-position: right 10px center;
    text-transform: uppercase;
    font-size: 16px;
  }

  .dss-blog__btns button {
    width: 100%;
    margin: 0;
    display: none;
  }

  .dss-blog__btns.open {
    button {
      display: flex;
    }
  }

  .dss-blog__btns {
    margin: 0 0 30px 0;
  }


  .dss-blog .container>p {
    display: none;
  }

  .dss-blog .dss-blog__item {
    width: calc(100% - 10px) !important;

  }







}

@media (max-width: 375px) {
  .intro h1 {
    font-size: 32px;
  }

  .intro__top img {
    width: 75px;
    height: 75px;
  }
}